<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registration form</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<style>
			.col-md-4{
				padding-left:10%;
				} 
			.main{
				margin-top: 15%;
				margin-left: 30%;
			}
			h1{
				margin-left: 20%;
				margin-bottom:30px; 
			}
		</style>
	</head>
		<body>
			<div class="main">
				<h1>Sign In</h1>
				<div class="col-md-4 col-md-offset-4">
					<form action="/login_page" method="post">
						  <div class="form-group">
						    <label for="exampleInputEmail1">Email address</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">Password</label>
						    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						  </div>
						  <button type="submit" class="btn btn-primary">Sign in</button>
					</form>
				</div>
			</div>
							{% with messages = get_flashed_messages() %}
	{% if messages %}
		
			{% for message in messages %}
			<ul>
				<li>{{message}}</li>
			</ul>
			{% endfor %}
		
	{% endif %}
{% endwith %}

			<!-- <form action="/login_page" method="post">
				<table>
					<tr>
						<td><label>Email:</label>
							<input type="text" name="email">
						</td>
					</tr>
					<tr>
						<td><label>Password:</label>
							<input type="password" name="password">
						</td>
					</tr>
					
				</table>
				
				<label>
					<input type="submit" value="Log In">
				</label>
			</form> -->
			
		</body>
</html>